* {
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  min-height: 300px;
}

input {
  outline: 0;
  border-radius: 4px;
}


#main-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 2%;
}

input[type="text"] {

  padding: 10px;
  border: 1px solid #ccc;

}

input[type="button"] {

  padding: 8px;
  border: 1px solid #3b3b3b;
  background-color: rgb(1, 32, 36);
  color: white;
  font-weight: bold;
  cursor: pointer;

}

hr {
  margin: 16px 0;
}

h6 {

  font-size: 16px;
  color: rgb(1, 32, 36);
  text-decoration: underline;
  font-weight: bold;

}

table {
  text-align: left;
  font-size: 14px;
}

table td {
  margin-right: 4px;
}

table tr.head {

  padding: 8px 0;
  font-weight: bold;
  border-bottom: 1px solid rgb(1, 32, 36);

}

table tr.body {

  padding: 8px 0;
  border-bottom: 1px solid #ccc;

}

/****/

.lds-ripple {
  color: rgb(1, 32, 36);
  margin-top: 8px;
  font-size: 15px;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}


@keyframes lds-ripple {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}